<template>
	<f7-page>
		<f7-navbar title="Events" back-link="Back" sliding></f7-navbar>
		<f7-block inner>
			<p>Heppening now!</p>
			<p>You can go <f7-link back>back</f7-link>.</p>
			<p>Realtime events</p>
			<p id="output"></p>
		</f7-block>
	</f7-page>
</template>

<script>
	export default {}
</script>